body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.menuitems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.itemcard {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.itemdetails {
    margin-bottom: 10px;
}

.itemname {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.itemdescription {
    font-size: 14px;
    color: #555;
}

.itemactions {
    display: flex;
    align-items: center;
}

.btnminus,
.btnplus {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnminus:hover,
.btnplus:hover {
    background-color: #0056b3;
}

.quantity {
    margin: 0 10px;
}

.cart {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartitems {
    padding: 0;
    margin-top: 10px;
}

.cartitems li {
    list-style: none;
    margin-bottom: 5px;
}

.btncheckout {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.btncheckout:hover {
    background-color: #218838;
}
